---
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';
import towerOfBableImage from "../assets/imgs/tower_of_babel.jpg"
---
<Layout>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/index.css' slot="header-extend">
    
	<div class="box rtl">
        <!-- <p>با عشق و علاقه از آریا بختیاری</p> -->
        <!-- <p><a href="http://github.com/torbatti" target="_blank" rel="noopener noreferrer">گیت هاب</a></p> -->
        <!-- <p><a href="mailto:arya.bakh@0xab.ir" target="_blank" rel="noopener noreferrer">ایمیل</a></p> -->
    </div>

    <div id="towerofbabel">
        <Image src={towerOfBableImage} alt="">
	</div>
    <div id="towerofbabel-text" class="box rtl">
        <p>
            گفته شده بود :
            "
                آرزوی ناممکن آسمان آسان شود
            ".
        </p>
        <p>
            همه شهر او را به دیوانه میشناختند.
            می دانست قبل از مرگش به آنجا نخواهد رسید.
            سنگان را با نگاهی به سوی آسمان روی یکدیگر می چید.
            روزگاری گذشت و دیگر تنها و دیوانه نبود.
            گرد هم آمدند تا به آنجا بروند , آسمان.
            شهر از بالای برج بسیار کوچک بود.
            بعد از مرگ استاد برج دیگر بالا نرفت , تا مجبور به فرو ریختن شد.
        </p>
	</div>

    <div class="box index-box rtl">
        <p>
            دسترسی سریع | 
        </p>

        <a href="/nvs/net">شبکه</a>
        <a href="/nvs/bzg">بازگویی</a>
        <!-- <a href="/nvs/megs">مقیاس پذیری</a> -->
        <!-- <a href="/nvs/tozi">توضیع پذیری</a> -->
	</div>

    <div class="box rtl">
        <!-- <p>یکی از مشکلاتی که برنامه نویسان و طراحان برنامه در تمامی سطوح به آن برخورد میکنند از بین رفتن اطلاعات و داده های برنامه هایشان است.</p> -->
        <p>
            داده و اطلاعاتی که قرار بود روی حافظه باشد گم شده. کارمند جدید سیم اشتباهی را کشید و برق سامانه اصلی رفت و هارد سوخت. 
            قرار بود اطلاعات بی استفاده از بین بروند ولی اطلاعات پایگاه داده فروشگاه را پاک کردند.
            <a href="/nvs/bzg">بازگویی</a>
            در مکان های مختلف جلوی از بین رفتن اطلاعات و داده ها را میگیرد.
        </p>
	</div>

    <div class="box rtl">
        <p>
            محصول شما بطور اتفاقی یا شانسی معروف شده و مشتریان زیادی به سمت سایت شما روانه شده اند و سامانه توانایی پردازش این تعداد مشتری را ندارد .
            یا سامانه اطلاعاتی درست کرده اید که هر سال تعداد مشتریان آن دو برابر میشود. 
            یا شما فقط ۵ مشتری در ماه دارید ولی سامانه ای که اجاره کرده اید برای ۵۰۰ نفر طراحی شده است. 
            اینها فقط یک قسمت از مجموعه مشکلات مربوط به 
            <!-- <a href="/nvs/megs">مقیاس پذیری</a> -->
            مقیاس پذیری
            نادرست و نبود آن هستند که توسعه دهنده نرم افزار باید آن را مد نظر قرار دهد.
        </p>
    </div>

    <div class="box rtl">
        <p>
            برق بخشی که سامانه فروشگاهی شما در آن قرار گرفته رفته است.
            اینترنت شهری که سامانه خود را در آن قرار داده اید دچار اختلال شده است.
            مشتری از شهر دیگر است و فاصله تا محل استقرار سامانه شما زیاد است و باعث طول کشیدن ارسال و دریافت داده میشود.
            به اشتباه دکمه خاموش کردن سامانه را زدید و یک ساعت برای روشن شدن آن وقت لازم است.
            یک راه برای حل این گونه مشکلات
            <!-- <a href="/nvs/tozi">توضیع پذیری</a> -->
            توضیع پذیری
            سامانه خود در چند جای مختلف است.
        </p>
	</div> 

    <!-- <div class="box index-box rtl">
        <p>
            زبان های برنامه نویسی |
        </p>

        <a href="/nvs/zig">زیگ</a>
        <a href="/nvs/c">سی</a>
        <a href="/nvs/lua">لوآ</a>
        <a href="/nvs/go">گو</a>
        <a href="/nvs/rust">راست</a>
        <a href="/nvs/js">جاوا اسکریپت</a>
        <a href="/nvs/css">سی اس اس</a>
	</div> -->

    <div class="box index-box rtl">
        <p>
            دیده یا خوانده شدگان | 
        </p>

        <a href="/nvs/namava">نماوا</a>
        <a href="/nvs/ketab">کتاب</a>
        <a href="/nvs/nevise">نویسه</a>
	</div>

    <!-- <div class="box index-box rtl">
        <p>
            پروژگان | 
        </p>
        <a href="http://github.com/torbatti/" target="_blank" rel="noopener noreferrer">UUID RFC9562</a>
	</div> -->

    <div class="box index-box rtl">
        <p>
            با عشق و علاقه از آریا بختیاری | 
        </p>
        
        <a href="mailto:arya.bakh@0xab.ir" target="_blank" rel="noopener noreferrer">ایمیل</a>
        <a href="http://github.com/torbatti" target="_blank" rel="noopener noreferrer">گیت هاب</a>
	</div>

</Layout>
