---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="box rtl">
        <p>آریا بختیاری</p>
        <p><a href="http://github.com/torbatti" target="_blank" rel="noopener noreferrer">گیت هاب</a></p>
        <p><a href="mailto:arya.bakh@0xab.ir" target="_blank" rel="noopener noreferrer">ایمیل</a></p>
    </div>

    <div class="box rtl">
        <h1>زبان های برنامه نویسی</h1>
 
        <div class="nevise-box"><p>0x0001</p><a href="/zbn/go.html">گو | Go</a></div>
         <!-- <a href="/n/web.html">جایگاه وب</a> -->
         
	</div>

	<div class="box rtl">
		<h1>نویسه ها</h1>
 
		<!-- <div class="nevise-box"><p>0x0001</p><p>0x14031126</p><a href="/n/auth.html">احراض حویت</a></div> -->
		 <!-- <a href="/n/web.html">جایگاه وب</a> -->
		 <!-- <a href="/n/web.html">نتورکینگ</a> -->
 
		 
	</div>

</Layout>
