---
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';
import towerOfBableImage from "../assets/imgs/tower_of_babel.jpg"
---
<Layout>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/index.css' slot="header-extend">
    
	<div class="box rtl">
        <!-- <p>با عشق و علاقه از آریا بختیاری</p> -->
        <!-- <p><a href="http://github.com/torbatti" target="_blank" rel="noopener noreferrer">گیت هاب</a></p> -->
        <!-- <p><a href="mailto:arya.bakh@0xab.ir" target="_blank" rel="noopener noreferrer">ایمیل</a></p> -->
    </div>

    <div id="towerofbabel">
        <Image src={towerOfBableImage} alt="">
	</div>
    <div id="towerofbabel-text" class="box rtl">
        <p>
            گفته شده بود :
            "
                آرزوی ناممکن آسمان آسان است
            ".
        </p>
        <p>
            همه شهر او را به دیوانه میشناختند.
            می دانست قبل از مرگش به آنجا نخواهد رسید.
            سنگان را با نگاهی به سوی آسمان روی یکدیگر می چید.
            روزگاری گذشت و دیگر تنها و دیوانه نبود.
            گرد هم آمدند تا به آنجا بروند , آسمان.
            شهر از بالای برج بسیار کوچک بود.
            بعد از مرگ استاد برج دیگر بالا نرفت , تا مجبور به فرو ریختن شد.
        </p>
	</div>

    <div class="box rtl">
        <!-- <p>یکی از مشکلاتی که برنامه نویسان و طراحان برنامه در تمامی سطوح به آن برخورد میکنند از بین رفتن اطلاعات و داده های برنامه هایشان است.</p> -->
        <p>
            داده و اطلاعاتی که قرار بود روی حافظه باشد گم شده. کارمند جدید سیم اشتباهی را کشید و برق سامانه اصلی رفت و هارد سوخت. 
            قرار بود اطلاعات بی استفاده از بین بروند ولی اطلاعات پایگاه داده فروشگاه را پاک کردند.
            باید قبل از این اتفاق ها به 
            <a href="/nvs/bzg">بازگویی</a>
            داده ها و اطلاعات فکر میشد.
        </p>
	</div>

    <div class="box rtl">
        <p>
            محصول شما بطور اتفاقی یا شانسی معروف شده و مشتریان زیادی به سمت سایت شما روانه شده اند و سامانه توانایی پردازش این تعداد مشتری را ندارد .
            یا سامانه اطلاعاتی درست کرده اید که هر سال تعداد مشتریان آن دو برابر میشود. 
            یا شما فقط ۵ مشتری در ماه دارید ولی سامانه ای که اجاره کرده اید برای ۵۰۰ نفر طراحی شده است. 
            اینها فقط یک قسمت از مجموعه مشکلات مربوط به 
            <!-- <a href="/nvs/megs">مقیاس پذیری</a> -->
            مقیاس پذیری
            نادرست و نبود آن هستند که توسعه دهنده نرم افزار باید آن را مد نظر قرار دهد.
        </p>
	</div>

    <div class="box rtl">
        <p>
            برق بخشی که سامانه فروشگاهی شما در آن قرار گرفته رفته است.
            اینترنت شهری که سامانه خود را در آن قرار داده اید دچار اختلال شده است.
            مشتری از شهر دیگر است و فاصله تا محل استقرار سامانه شما زیاد است و باعث طول کشیدن ارسال و دریافت داده میشود.
            به اشتباه دکمه خاموش کردن سامانه را زدید و یک ساعت برای روشن شدن آن وقت لازم است.
            یک راه برای حل این گونه مشکلات
            <!-- <a href="/nvs/tozi">توضیع پذیری</a> -->
            توضیع پذیری
            سامانه خود در چند جای مختلف است.


        </p>
	</div>

    <div class="dst-sari box rtl">
        دسترسی سریع | 
        <!-- <a href="/nvs/soal">سوال و جواب</a> -->
        <a href="/nvs/bzg">بازگویی داده ها</a>
        <!-- <a href="/nvs/megs">مقیاس پذیری سامانه ها</a> -->
        <!-- <a href="/nvs/tozi">توضیع پذیری سامانه ها</a> -->
	</div>

    <div class="dst-sari box rtl">
        خوانده شده ها | 
        <a href="/nvs/ketab">کتاب</a>
        <a href="/nvs/nevise">نویسه</a>
	</div>

    
    <div class="ba-eshg box rtl">
        با عشق و علاقه از آریا بختیاری | 
        <a href="mailto:arya.bakh@0xab.ir" target="_blank" rel="noopener noreferrer">ایمیل</a>
        <a href="http://github.com/torbatti" target="_blank" rel="noopener noreferrer">گیت هاب</a>
	</div>



    <div class="box rtl">
        <!-- <h1>زبان های برنامه نویسی</h1> -->
        <!-- <div class="nevise-box"><p>0x0001</p><a href="/zbn/go">گو | Go</a></div> -->
        <!-- <div class="nevise-box"><p>0x0002</p><a href="/zbn/zig">زیگ | Zig</a></div> -->
        <!-- <div class="nevise-box"><p>0x0003</p><a href="/zbn/c">سی | C</a></div> -->
        <!-- <div class="nevise-box"><p>0x0004</p><a href="/zbn/rust">راست | Rust</a></div> -->
        <!-- <div class="nevise-box"><p>0x0005</p><a href="/zbn/js">جاوا اسکریپت | Javascript</a></div> -->
	</div>

    <div class="box rtl">
		<!-- <h1>مسیر های برنامه نویسی</h1> -->
        <!-- <div class="nevise-box"><p>0x0001</p><a href="/zbn/go">وب | Web</a></div> -->
        <!-- <div class="nevise-box"><p>0x0002</p><a href="/zbn/go">نتورک | Network </a></div> -->
        <!-- <div class="nevise-box"><p>0x0003</p><a href="/zbn/go">سیستم عامل | Operating System </a></div> -->
        <!-- <div class="nevise-box"><p>0x0004</p><a href="/zbn/go">سیستم های پخشان | Distributed System</a></div> -->
        <!-- <div class="nevise-box"><p>0x0005</p><a href="/zbn/go">پایگاه داده | Database </a></div> -->
        <!-- <div class="nevise-box"><p>0x0006</p><a href="/zbn/go">کمپایلر | Compiler </a></div> -->
	</div>

	<div class="box rtl">
		<!-- <h1>نویسه ها</h1> -->
		<div class="nevise-box">

            <!-- <h2><a href="/nvs/bazg.html">بازگویی</a></h2>
            <p></p> -->

            <!-- <h2><a href="/nvs/bazgooii.html">توضیع پذیری</a></h2> -->
            <!-- <p></p> -->

        </div>
        
        
		<!-- <div class="nevise-box"><p>0x0001</p><p>0x14031126</p><a href="/n/auth.html">احراض حویت</a></div> -->
        <!-- <a href="/n/web.html">جایگاه وب</a> -->
        <!-- <a href="/n/web.html">نتورکینگ</a> -->
 

	</div>

</Layout>
