---
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';
import towerOfBableImage from "../assets/imgs/tower_of_babel.jpg"
---
<Layout>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/index.css' slot="header-extend">
    
	<div class="box rtl">
        <!-- <p>با عشق و علاقه از آریا بختیاری</p> -->
        <!-- <p><a href="http://github.com/torbatti" target="_blank" rel="noopener noreferrer">گیت هاب</a></p> -->
        <!-- <p><a href="mailto:arya.bakh@0xab.ir" target="_blank" rel="noopener noreferrer">ایمیل</a></p> -->
    </div>

    <div id="towerofbabel">
        <Image src={towerOfBableImage} alt="">
	</div>
    <div id="towerofbabel-text" class="box rtl">
        <p>
        تنها دیوانه شهر بود
        ولی میدانست که قبل از مرگش به آنجا نمیرسد.
        سنگ ها را روی هم میگذاشت و هر از چند گاهی بالا را نگاه میکرد.
        دیگر تنها نبود.
        گرد آمدند تا بالا روند , بالای آسمان.
        بعد از مرگ استاد برج دیگر بالا تر نرفت.
        در نهایت مجبور به فروریختن شد.
        </p>
	</div>

    <div class="box rtl">
        <!-- <p>یکی از مشکلاتی که برنامه نویسان و طراحان برنامه در تمامی سطوح به آن برخورد میکنند از بین رفتن اطلاعات و داده های برنامه هایشان است.</p> -->
        <p>مشکلات توسعه دهندگان بسیار زیاد است.</p>
        <p>داده و اطلاعاتی که قرار بود روی حافظه باشد گم شده. کارمند جدید سیم اشتباهی را کشید و برق سامانه اصلی رفت و هارد سوخت. 
            قرار بود اطلاعات بی استفاده از بین بروند ولی اطلاعات پایگاه داده فروشگاه را پاک کردند.
            باید قبل از این اتفاق ها به 
            <a href="/nvs/bzg">بازگویی</a>
            داده ها و اطلاعات فکر میشد.
        </p>

	</div>


    <div class="dst-sari box rtl">
        دسترسی سریع | 
        <a href="/nvs/bzg">بازگویی</a>
	</div>

    <div class="dst-sari box rtl">
        خوانده شده ها | 
        <a href="/nvs/ketab">کتاب</a>
        <a href="/nvs/nevise">نویسه</a>
	</div>

    
    <div class="ba-eshg box rtl">
        با عشق و علاقه از آریا بختیاری | 
        <a href="mailto:arya.bakh@0xab.ir" target="_blank" rel="noopener noreferrer">ایمیل</a>
        <a href="http://github.com/torbatti" target="_blank" rel="noopener noreferrer">گیت هاب</a>
	</div>



    <div class="box rtl">
        <!-- <h1>زبان های برنامه نویسی</h1> -->
        <!-- <div class="nevise-box"><p>0x0001</p><a href="/zbn/go">گو | Go</a></div> -->
        <!-- <div class="nevise-box"><p>0x0002</p><a href="/zbn/zig">زیگ | Zig</a></div> -->
        <!-- <div class="nevise-box"><p>0x0003</p><a href="/zbn/c">سی | C</a></div> -->
        <!-- <div class="nevise-box"><p>0x0004</p><a href="/zbn/rust">راست | Rust</a></div> -->
        <!-- <div class="nevise-box"><p>0x0005</p><a href="/zbn/js">جاوا اسکریپت | Javascript</a></div> -->
	</div>

    <div class="box rtl">
		<!-- <h1>مسیر های برنامه نویسی</h1> -->
        <!-- <div class="nevise-box"><p>0x0001</p><a href="/zbn/go">وب | Web</a></div> -->
        <!-- <div class="nevise-box"><p>0x0002</p><a href="/zbn/go">نتورک | Network </a></div> -->
        <!-- <div class="nevise-box"><p>0x0003</p><a href="/zbn/go">سیستم عامل | Operating System </a></div> -->
        <!-- <div class="nevise-box"><p>0x0004</p><a href="/zbn/go">سیستم های پخشان | Distributed System</a></div> -->
        <!-- <div class="nevise-box"><p>0x0005</p><a href="/zbn/go">پایگاه داده | Database </a></div> -->
        <!-- <div class="nevise-box"><p>0x0006</p><a href="/zbn/go">کمپایلر | Compiler </a></div> -->
	</div>

	<div class="box rtl">
		<!-- <h1>نویسه ها</h1> -->
		<div class="nevise-box">

            <!-- <h2><a href="/nvs/bazg.html">بازگویی</a></h2>
            <p></p> -->

            <!-- <h2><a href="/nvs/bazgooii.html">توضیع پذیری</a></h2> -->
            <!-- <p></p> -->

        </div>
        
        
		<!-- <div class="nevise-box"><p>0x0001</p><p>0x14031126</p><a href="/n/auth.html">احراض حویت</a></div> -->
        <!-- <a href="/n/web.html">جایگاه وب</a> -->
        <!-- <a href="/n/web.html">نتورکینگ</a> -->
 

	</div>

</Layout>
