*,
*::after,
*::before {
  box-sizing:   border-box;
  margin:       0;
  padding:      0;
  font:         inherit;
}
*{
  padding:0;
  margin:0;
  border: 0;
  box-sizing:border-box;
	font-size: 100%;
	font: inherit;
  vertical-align:baseline;
}

img,
picture {
  width: 100%;
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
  url('/fonts/Vazirmatn[wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body{font-family:Vazirmatn,sans-serif;}
body{background:var(--background);color:var(--text);font-size:large;}

.box{width:calc(100dvw - 2rem);margin:1rem auto;}
@media screen and (min-width: 720px) {
  .box{width:calc(720px - 2rem);}
}

.rtl{direction:rtl !important;}
.ltr{direction:ltr !important;}

:root{
  --background: #f0f0f0;
  --text: #111111;
  --primary:#339989;
  --c1:#FFFFFF;--c2:#111111;--c4:#7c68b3;--c5:#f9a39f;
}

/* --text: #100517;
--background: #fcf9fe;
--primary: #ffef8a;
--secondary: #e5d18f;
--accent: #97cf65; */
