a{font-size:1rem;}
p{font-size:1rem;}
ul{font-size:1rem;}
h1{font-size:1.25rem;font-weight:bold;}
h2{font-size:medium;font-weight:bolder;}

a{
  color:var(--text);
  text-decoration:underline;
  text-underline-offset:.44rem;
}

p{
  padding:.33rem 0;
}
h1{
  padding:1rem 0;
}
h2{
  padding:.25rem 0;
}

code{
    direction:ltr;
}
ol{
    display:flex;
    flex-direction:column;
    padding:0 1.25rem;
}
