a{
    color:var(--text);
    text-underline-offset:.44rem;
}
h1{
    padding:.5rem 0;
    font-size:large;
    font-weight:bold;
}
h2{
    padding:.25rem 0;
    font-weight:bold;
}
code{
    direction:ltr;
}
ol{
    display:flex;
    flex-direction:column;
    padding:0 1.25rem;
}
