---
import Layout from '../../layouts/Layout.astro';

import { getCollection, render } from 'astro:content';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const neviseha = await getCollection('zbn');
  return neviseha.map(nevise => ({
    params: { id: nevise.id },
    props: { nevise },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { nevise } = Astro.props;
const { Content } = await render(nevise);
---
<Layout>
  <link rel='stylesheet' type='text/css' media='screen' href='/styles/nevise.css' slot="header-extend">

  <div class="box rtl">

    <div class="nevise-box">
      <p class="nevise-title">{nevise.data.title}</p>
      <p class="nevise-pubDate">{nevise.data.pubDate}</p>
    </div>

    <Content />
  </div>
</Layout>

<style>

  
</style>