---
import Header from '../components/Header.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<!-- <meta name="generator" content={Astro.generator} /> -->
		
		<meta charset="UTF-8" />
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<title>0xAB</title>
		<meta name="author" content="آریا بختیاری | Arya Bakhtiari">
		<meta name="description" content="">
		<link rel='stylesheet' type='text/css' media='screen' href='/styles/main.css'>
		<link rel='stylesheet' type='text/css' media='screen' href='/styles/root.css'>

	</head>
	<body>
		<Header/>
		<slot />
	</body>
</html>
