---
import Header from '../components/Header.astro';

interface Props {
	title?: string;
	description?: string;
}
const { title = "0xAB", description = "نویسه هایی درباره مشکلات و راه حل های فن‌آوری" } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<!-- <meta name="generator" content={Astro.generator} /> -->
		
		<meta charset="UTF-8" />
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<title>{title}</title>
		<meta name="author" content="آریا بختیاری | Arya Bakhtiari">
		<meta name="description" content={description}>
		
		<link rel='stylesheet' type='text/css' media='screen' href='/styles/main.css'>
		<link rel='stylesheet' type='text/css' media='screen' href='/styles/root.css'>

		<slot name="header-extend" />

		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<slot />
	</body>
</html>
